@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@700&display=swap');

.shiny-output-error { visibility: hidden;}
.shiny-output-error:before { visibility: hidden; }

#grafica_circular {
  visibility: hidden;
}


p, a {
    font-family: 'Hind Guntur', sans-serif;
    text-align: justify;
}

h2 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 2.875rem;
  color:#b75959;
  text-align: center;
  font-weight: 900;
}

body {
  background-color: #f3f3f3;
  color:#b75959;
}

table, th, td {
  border: 1px solid black;
  text-align: justify;
  font-family: 'Hind Guntur', sans-serif;
}
